html {
   margin: 0;
   padding: 0;
   height: 100%
 }
 
 
 body {
   display: grid;
   grid-template-rows: 100vh 157vh 80vh;
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   min-height: 100vh;
  
 }
 
 
 ul {
   list-style-type: none;
 }
 
 
 .links {
   color: #f9faf8;
 }
 
 
 a {
   text-decoration: none;
   color: black;
 }


 
 .devicon-linkedin-plain, .devicon-github-original{
   color: black;
   font-size: 4rem;
 }
 
 
 .hero{
   background-color: #1f2937;
   display: flex;
   align-items: center;
   justify-content: center;
   
   
 }
 
 
 .contact-icons {
   display: flex;    
   gap: 3.1rem;
 }
 
 
 .hero2 {
   background-color: white;
   padding-left: 10rem;
   padding-right: 10rem;
   
   
 }
 
 .hero2main{
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .hero3 {
   display: flex;
   background-color: #E5E7EB;
   justify-content: center;
   align-items: center;
 }
 
 
 .hero4 {
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 100px 100px;
 }
 
 
 .first-button {
   align-self: flex-start;
   margin-top: 10px;
   font-family: Roboto, sans-serif;
   border: none;
   border-radius: 8px;
   background: #3882F6;
   padding: 10px 40px;
   color: #f9faf8;
   font-size: 15px;
 }
 
 
 .second-button {
   display: flex;
   margin-top: 10px;
   font-family: Roboto, sans-serif;
   border-style: solid;
   border-color: white;
   border-radius: 8px;
   background: #3882F6;
   padding: 10px 40px;
   color: #f9faf8;
   font-size: 15px;
  
 }

 .title-wrapper{
  max-width: fit-content;;
  
 }
 
 
 .first-title {
   display: flex;
   margin: 0;
   font-weight: 900;
   font-size: 48px;
   color: #f9faf8;
 }
 
 
 .second-title {
   
  font-size: 4rem;
  position: relative;
  top: 2rem;
 }
 
 
 .third-title {
   display: flex;
   margin-bottom: 0;
   color: white;
 }
 
 
 .first-text {
   display: flex;
   margin: 0;
   width: 400px;
   font-size: 18px;
   color: #E5E7EB;
 }
 
 
 .third-text {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
 }
 
 
 .third-content {
   margin-top: 0;
   font-size: 20px;
   color: white;
 }
 
 
 .header {
   display: flex;
   justify-content: center;
 
 
  
 }
 
 
 .header-text {
   display: flex;
   color: #f9faf8;
   margin-right: 20%;
 }
 
 
 .sidebar {
   display: flex;
   justify-content: space-between;
   gap: 20px;
 }
 
 
 .main-text {
   display: flex;
   flex-direction: column;
   flex: 0;
   color: #f9faf8;

 }
 
 .aboutme{
   font-size: 5rem;
 }
 
 
 .main-content {
   

   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 1.5rem ;
   
   
   
 }


 
 .loremipsum {
   font-size: 2.5rem;
   max-width: 90%;
   line-height: 1.5;
   
 }
 
 
 .placeholder {
   padding-left: 5rem;
   padding-top: 2rem;
   background-color: #6d747d;
   display: grid;
   grid-template-rows: 2fr 1fr 1fr;
   color: #f9faf8;
   max-height: 810px;
   overflow-y:auto;
   flex-basis: 1700px;
   
 }
 
 
 
 
 .placeholder-icon-container {
   display: flex;
   justify-content: flex-end;
   padding-right: 10rem;
   padding-top: 5rem;
 }
 
 
 
 
 .profilepicture {
   height: auto;
   flex-basis: 1500px;
   
 }
 
 
 
 
 .card-container {
  
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  
 }
 

 
 
 
 .cardshape {
   border-radius: 25px;
   border: solid 5px #3882F6;
   width: 200px;
   height: 200px;
   background-color: white;
 }
 
 
 .card {
   display: flex;
   flex-direction: column;
   border: solid 5px #3882F6;
   min-width: 600px;
   min-height: 700px;
   text-align: center;
   justify-content: center;
   align-items: center;;
   
 }
 
 
 .cardtext {
   width: 185px;
   font-size: 20px;
   color: #6d747d;
 }
 
 
 .bigquote {
   display: flex;
   flex-direction: column;
   max-width: 800px;
   padding: 100px;
 }
 
 
 .quote {
   font-size: 36px;
   font-style: italic;
   font-weight: 300;
   color: #1f2937;
   margin-bottom: 5px;
 }
 
 
 .sign {
   display: flex;
   font-size: 30px;
   align-self: flex-end;
   font-weight: bold;
   margin: 0;
   color: #1f2937;
 }
 
 
 .signup {
   display: flex;
   border-radius: 8px;
   background-color: #3882F6;
   flex: 1;
   max-width: 1300px;
   align-items: center;
   justify-content: space-evenly;
   gap: 100px;
   max-width: 1100px;
   padding: 40px 50px;
  
 }
 
 
 .footer {
       background-color: #1f2937;
       flex-direction: column;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 50px 50px;
   }
 
 
 .footer-text {
   color: white;
   font-size: 20px;
 }
 